@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600&display=swap');

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
.popup h2 {
    margin-top: 0;
}

body {
    margin: 0;
}
.content {
    margin-bottom: 10%;
}
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
ul {
    justify-content: space-between;
    padding: 0;
}
footer {
    z-index: 3;
    /* queria que ele ficasse acima da sidebar*/
    position: relative;
}

.usuario {
    height: 10rem;
}

.logo_header {
    height: 10rem;
}
.menu-toggle {
    margin: 0;
    align-items: center;
    display: flex;
}


a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.1rem;
}

footer {

    background-color: #94B7EB;
    margin-top: 5rem;
}



li {
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    color: #072A86;
}
.title {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}
ul {
    list-style: none;
}
.grande {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: lighter;
    margin-left: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
h2 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: lighter;
}



main {
    display: flex;
    flex-direction: row;
    /* as coisas no main estao se sobrepondo e nao ficando uma do lado da outra */
    margin-left: 15rem;

}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 15rem;
    height: 100vh;
    /*queria que sua altura fosse at[e o footer, porem nao conseguia fazer isso */
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 2rem;
    /* quero uma shadow no lado direito dessa sidebar */
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.2);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem;

}

.box {
    /* quero fixar essa largura e altura */

    width: 25rem;
    height: 20rem;

    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.y {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;
    margin-right: 2rem;
    text-align: justify;

}
.procedimentos {
    background-color: #072A86;
    color: white;
}
.procedimentos a {
    color: white;
    /*quero um quadrado com border radius em volta desse a */
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid white;
    
}

.consulta {
    background-color: #94B7EB;
    color: black;
}
.consulta a {
    color: black;
    /*quero um quadrado com border radius em volta desse a */
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
}

.newsletter {
    background-color: #5e5c5c;
    color: black;
}
.newsletter a {
    color: black;
    /*quero um quadrado com border radius em volta desse a */
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
}

.linha {
    width: 90%;
    height: 1px;
    background-color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-self: center;
    margin-left: 5rem;
}

.propaganda {
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 5rem;
    max-width: 40%;

}
.conteudo h1 {
    font-size: xxx-large;
    color: #5e5c5c;
    margin: 0;
}
.conteudo p {
    font-size: 1.5em;
    margin-bottom: 1.7rem;
    text-align: justify;
}
a {
    text-decoration: none; /* Remove o sublinhado padrão */
    transition: color 0.3s, text-decoration-color 0.3s; /* Suaviza a transição de cores e sublinhado */
    transition: color 0.3s, border-color 0.3s; /* Suaviza a transição de cores e sublinhado */
    text-decoration-line: underline; /* Adiciona sublinhado */
    text-decoration-color: transparent; /* Torna o sublinhado transparente inicialmente */
    text-decoration-style: solid; /* Estilo do sublinhado */
  }
  
a:hover {
    color: #FF5733; /* Cor quando o mouse está sobre o link */
    text-decoration-color: none; /* Torna o sublinhado visível e na mesma cor do texto ao passar o mouse */
    border-color: #FF5733;
}
.conteudo a {
    background-color: #072A86;
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 1rem; /* Espaçamento interno */
    font-size: 1.5rem; /* Tamanho do texto */
    border-radius: 0.3rem; /* Bordas arredondadas */
    cursor: pointer; /* Cursor do mouse como ponteiro */
    transition: background-color 0.3s, box-shadow 0.3s; /* Suaviza a transição de cor de fundo e sombra */
    outline: none; /* Remove o contorno ao focar */
  }

  .conteudo a:hover {
    background-color: #FF5733; /* Cor de fundo ao passar o mouse */
    box-shadow: 0 0 8px #FF5733; /* Sombra ao redor do botão */
    text-decoration: none;
  }
  
  .conteudo a:active {
    background-color: #C4421A; /* Cor de fundo ao clicar */
    box-shadow: 0 0 12px #FF5733 inset; /* Sombra interna para efeito de "pressionado" */
  }

.boas_vindas {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.boas_vindas img {
    width: 5rem;
    height: auto;
    margin-right: 1rem;
}

.acoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

li {
    list-style: none;
    /* espacamento entre os topicos */
    margin-top: 1rem;
    margin-bottom: 1rem;

}

p {
    font-family: 'Jura', 'sans-serif';
    font-size: 1.3rem;
    margin-bottom: 1.7rem;
    text-align: justify;
}

.x {
    display: flex;
    flex-direction: row;
}

/* faca o css das tabelas, estilize elas profissionalmente */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Jura&display=swap');

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    font-family: 'Jura', sans-serif;
    font-size: 1.2rem; /* Increase font size */
}

th, td {
    padding: 1rem; /* Increase padding */
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.3rem; /* Increase font size */
}

tr:hover {
    background-color: #f5f5f5;
}

table caption {
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.4rem; /* Increase font size */
}

table thead th {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.3rem; /* Increase font size */
}
.tabelas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-between;
    width: 100%;
}
.historico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    max-width: 60%;
    margin: 2rem;
}

.agendados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    max-width: 60%;
    margin: 2rem;
}
button {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid #d9d9d9;
    background-color: #072A86;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

button[type="button"] {
    
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 1rem 1.1rem; /* Espaçamento interno */
    font-size: 1.5rem; /* Tamanho do texto */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor do mouse como ponteiro */
    transition: background-color 0.3s, box-shadow 0.3s; /* Suaviza a transição de cor de fundo e sombra */
    outline: none; /* Remove o contorno ao focar */
    
    margin: 2rem;
    margin-top: 1rem;
    
    
  }

  button[type="button"]:hover {
    background-color: #FF5733; /* Cor de fundo ao passar o mouse */
    box-shadow: 0 0 8px #FF5733; /* Sombra ao redor do botão */
  }
  
  button[type="button"]:active {
    background-color: #C4421A; /* Cor de fundo ao clicar */
    box-shadow: 0 0 12px #FF5733 inset; /* Sombra interna para efeito de "pressionado" */
  }

  input::placeholder {
    font-family: 'Jura', sans-serif;
    font-size: 1rem;
}
input {
    width: fit-content;
    padding: 1rem;
    margin: 0.5rem;
    margin-right: 0;
    border-radius: 0.2rem;
    border: 1px solid #d9d9d9;
}
/*estilize as labels*/
label {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5rem;
    
}
.checkbox-container label {
    font-family: 'Jura', sans-serif;
    font-size: 1rem;
    color: #5e5c5c;
    
}
select {
    font-family: 'Jura', sans-serif; /* Define a fonte */
    font-size: 1rem; /* Tamanho da fonte */
    color: #5e5c5c; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    margin: 10px; /* Margem externa */
    border: 1px solid #d9d9d9; /* Borda cinza clara */
    border-radius: 5px; /* Borda arredondada */
    outline: none; /* Remove o contorno ao focar */
    box-shadow: 0 3px 6px rgba(0,0,0,0.1); /* Sombra suave */
    transition: all 0.3s ease; /* Transição suave para hover */
}

select:hover, select:focus {
    border-color: #007BFF; /* Cor da borda ao passar o mouse ou focar */
    box-shadow: 0 3px 6px rgba(0,123,255,0.25); /* Sombra azul ao passar o mouse ou focar */
}

.checkbox-container {
    display: flex;
    align-items: center;
    
}


/* Esconde a checkbox original */
.checkbox-container input[type="checkbox"] {
    appearance: none; /* Remove a aparência padrão */
    -webkit-appearance: none; /* Remove a aparência padrão para WebKit/Blink */
    background-color: #f0f0f0;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1rem;
    height: 1rem;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    display: inline-grid;
    place-content: center;
}

/* Adiciona um "check" usando Unicode quando marcado */
.checkbox-container input[type="checkbox"]:checked::before {
    content: "✓";
    color: #072A86;
    
    border-color: #0056b3;
}

/* Label styling */
.checkbox-label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #5a5a5a;
    padding-left: 8px;
}

/* Estilo para hover e focus para melhor acessibilidade */
.checkbox-container input[type="checkbox"]:hover {
    border-color: #0056b3;
}

.checkbox-container input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0,123,255,0.5);
}
.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    
    margin: 2rem;
}
.forma_pagamento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    
}
.entradas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.popular-procedures {
    font-family: Arial, sans-serif;

    padding: 3rem;
    border-radius: 8px;
    
    margin-bottom: 3rem;

}

.popular-procedures h2 {
    color: #333;
    margin-bottom: 2rem;
}

.popular-procedures ul {
    list-style: none;
    padding: 0;

}

.popular-procedures li {
    padding: 1rem 1.5rem;
    margin: 1rem;
    background-color: #fff;
    border: 1px solid #5e5c5c;
    cursor: pointer;
    transition: all 0.3s ease;
}

.popular-procedures li:hover {
    background-color: #d9d9d9;
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Estilização para a descrição do procedimento */
.procedure-description {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-left: 5px solid #072A86;
    color: #333;
    font-style: italic;
}

/* Adicionando transições para suavizar os efeitos */
li:hover .procedure-description {
    display: block;
}

p {
    margin: 0;
}

/* Esconde a checkbox original */
input[type="checkbox"] {
    appearance: none; /* Remove a aparência padrão */
    -webkit-appearance: none; /* Remove a aparência padrão para WebKit/Blink */
    background-color: #f0f0f0;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1rem;
    height: 1rem;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    display: inline-grid;
    place-content: center;
    margin-top: 1rem;
}

/* Adiciona um "check" usando Unicode quando marcado */
input[type="checkbox"]:checked::before {
    content: "✓";
    color: #072A86;
    
    border-color: #0056b3;
}



/* Estilo para hover e focus para melhor acessibilidade */
input[type="checkbox"]:hover {
    border-color: #0056b3;
}

input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0,123,255,0.5);
}

h3 {
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
}

.search-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3rem;
    margin-right: 0;
}


@media (max-width: 1716px) {
    .boxes {
        justify-content: space-around;
    }
    .conteudo {
        margin: 1rem;
        align-items: center;
    }
    .propaganda img {
        width: 40rem;
    }
}

@media (max-width: 1370px) {

    .propaganda img {
        width: 30rem;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 1092px) {

    .propaganda {
        flex-direction: column;
        align-items: center;

    }
    .tabelas {
        width: 80%;
    }
    h2 {
        font-size: 1.25rem;
    }

}

@media (max-width: 920px) {
    table, th {
        font-size: 1rem;
    }
}

@media (max-width: 790px) {
    td, th {
        padding: 0.5rem;
    }
    .historico td:nth-child(4),
    .historico th:nth-child(4) {
        display: none;
    }
}
@media (max-width: 625px) {
    .propaganda img {
        width: 15rem;
    }
    h1 {
        font-size: 1.4rem;
    }
    .usuario {
        margin: 0rem;
    }
    .box {
        width: 15rem;
        height: fit-content;
        padding: 0.5rem;
    }
    .boxes {
        margin: 1rem;
    }


    .logo_header {
        height: 5rem;
    }

    .sidebar a {
        margin: 0.5rem;
    }
    .sidebar {
        width: 30%;
    }
    main {
        margin-left: 12rem;
        
        
    }
    .historico {
        margin-left: 0;
    }
    th, td {
        padding: 0.2rem;
    }
    .agendados {
        margin-left: 0;
    }
    .boas_vindas {
        
        align-items: center;
    }
    button[type="submit"] {
        margin-left: 0;
    }
}

@media (max-width: 570px) {
    .propaganda img {
        width: 15rem;
    }
    h1 {
        font-size: 0,1rem;
    }

    .box {
        width: 15rem;
        height: fit-content;
        padding: 0.5rem;
    }
    .boxes {
        margin: 1rem;
    }

    main {
        margin-left: 7.5rem;
        position: relative;
        z-index: -1;
        margin-top: 0;
    }
    .content {
        margin: 1rem;
    }
    .logo_header {
        height: 5rem;
    }
    .sidebar {
        flex-direction: row;
        width: 100%;
        height: auto;
        top: 0;
        padding: 0;
        justify-content: space-around;
        z-index: 3;
        position:absolute;
    }
    .sidebar a {
        margin: 0.5rem;
    }
    .sidebar h2 {
        display: none;
    }
    .acoes {
        flex-direction: row;
        justify-content: space-around;
    }
    main {
        margin: 0;
        
    }
    .boas_vindas {
        margin-top: 4rem;
        align-items: center;
    }
    
}
th {
    text-align: center;
}
.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.horarios {
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: column;
}
.horas {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.horarios li {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 4rem;
    align-self: center;
}

.horarios li:hover {
    background-color: #f0f0f0;
}

.horarios li.selected {
    background-color: #072A86;
    color: #fff;
}
@media (max-width: 400px) {
    table thead th {
        font-size: 1rem;
    }
    th, td {
        padding: 0;
    }
    .calendar-table {
        width: 90%;
    }
    .calendar-header {
        margin: 0;
        justify-content: space-around;
    }

}

@media (max-width: 700px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}
    

    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    footer li {
        margin: 0;
    }	

.botao {
    margin-left: 0;
    padding: 1rem;
}

.resumo {
    
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    
}






